@use './scss/reset';
@use './scss/variables';
@import "./scss/hamburgers.scss";

@mixin align-columns {
  display: flex;
  flex-direction: column;
  line-height: normal;
}

.container{
  width: 100%;
  height: 100%;
}

.hero-image{
 display: flex;
 width: 60%;
 max-height: 100%;
 overflow: hidden;
 animation: flipInX; /* referring directly to the animation's @keyframe declaration */
 animation-duration: 2s;
 
  & img{
    width: 100%;
    flex-grow: 1;
    z-index: 0;
    animation: myAnim 0.5s ease-in-out 0s 1 normal;

    &.animate__animated.animate__flipInX {
      transition-duration: variables.$animate-duration;
    }
  }
}



@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: rotateY(180deg) ;
  }
  
}

.nav-column {
  @include align-columns;
  position: absolute;
  width: 362px;
  margin: 50px;
}

.logo-img {
  width: 62px;
  height: 13px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  color: variables.$Primary-White;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.67px;
  margin: 17px auto 0 -4px;
  z-index: 1;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-item {
  font-family: variables.$Font-Family;
}

.navbar-link {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: variables.$Primary-White;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: variables.$Primary-White;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.67px;
  margin: 0;
}

.div-2,
.div-3,
.div-4,
.div-5 {
  font-family: variables.$Font-Family;
  margin: auto 0;
}

.shop{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-content {
  background-color: variables.$Primary-White;
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  color: variables.$Primary-Black;
  font-weight: 500;
  width: 40%;
  height: 100%;
}

.text-content {
  align-self: center;
  display: flex;
  margin-top: 100px;
  width: 400px;
  height: 220px;
  max-width: 100%;
  flex-direction: column;
  padding: 0 20px;

}

.shop-title {
  letter-spacing: -2px;
  line-height: normal;
  color: variables.$Primary-Black;
  font-size: 45px;
  font-weight: 600;
  margin: 10px;
  font-family: variables.$Font-Family;
  animation: transAnim 1s ease-in-out 0s 1 normal;
}

.p-shop-content {
  color: variables.$Primary-Dark-Gray;
  letter-spacing: -0.33px;
  font-size: 16px;
  font-family: variables.$Font-Family;
  margin: 10px;
  animation: transAnim 1s ease-in-out .1s 1 normal;
}

.shop-button {
  align-self: center;
  font-family: variables.$Font-Family;
  display: flex;
  padding-right: 9px;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
  letter-spacing: 12.5px;
  line-height: 107%;
  width: 400px;
  margin: 32px 0px;
  padding: 0 30px;
  animation: transAnim 1s ease-in-out .2s 1 normal;
}

@keyframes transAnim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    // transform: rotateY(180deg) ;
  } ;
}

.button-arrow-img{
  display: flex;
  overflow: hidden;
  cursor: pointer;
  object-fit: auto;
  object-position: center;
  color: variables.$Primary-Black;
  gap: 20px;
  height: 12px;
  transition: color .5s ease-in-out; 
  font-family: variables.$Font-Family;
  letter-spacing: 10px;

  &:hover{ 
    color: variables.$Primary-Dark-Gray;

  }
}

.button-arrow-img img{
  width: 40px;
  height: 12px;
  transition: width .5s ease-in-out; 

  &:hover{ 
    width: 60px;
  }
}

.button-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: flex-start;
  overflow: hidden;
  width: 25%;
}

.icon-angle-right{
  background-color: #{variables.$Primary-Black};
  border-style: none;
  object-position: center;
  max-width: 100%;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0 25px;
  cursor: pointer;
  transition: background-color .5s ease-in-out;

  &:hover { 
    background-color: variables.$Primary-Dark-Gray;
  }
  
}

.icon-angle-left {
  background-color: #{variables.$Primary-Black};
  border-style: none;
  object-position: center;
  max-width: 100%;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0 25px;
  cursor: pointer;
  transition: background-color .5s ease-in-out;

  &:hover { 
    background-color: variables.$Primary-Dark-Gray;
  }
}

.botton-section {
  width: 100%;
  display: flex
}

.column-5 {
  @include align-columns;
  width: 30%;
  margin-left: 0px;
}

.image-about-dark {
  aspect-ratio: 1.59;
  object-position: center;
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  animation: flipInY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  
  &img .animate__animated.animate__flipInY {
    transition-duration: variables.$animate-duration;
  }
}

.column-6 {
  @include align-columns;
  width: 40%;
}

.about-content {
  background-color: variables.$Primary-White;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
  padding: 50px 48px;
}

.about-title {
  color: variables.$Primary-Black;
  text-align: justify;
  font-family: variables.$Font-Family;
  font-weight: 700;
  line-height: 137.5%;
  letter-spacing: 6.67px;
  margin-top: 14px;
  font-size: 16px;
  animation: transAnim 1s ease-in-out .0s 1 normal;
}

.p-content {
  color: variables.$Primary-Dark-Gray;
  font-family: variables.$Font-Family;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.33px;
  margin-top: 27px;
  animation: transAnim 1s ease-in-out .2s 1 normal;
}

.column-7 {
  @include align-columns;
  width: 30%;
}

.image-about-light {
  aspect-ratio: 1.67;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
  animation: flipInY ;
  animation-duration: 2s;

  &.animate__animated.animate__flipInY {
    transition-duration: variables.$animate-duration;
    transition-delay: variables.$animate-delay;
  }
}

.not-visible{
  visibility: hidden;
 }


@media (max-width: 640px) {
  
  .hero-image {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    padding-bottom: 129px;
  }

  .contact-link {
    margin-right: 1px;
  }

  .img {
    margin: -2px auto 0;
  }

  .div-5 {
    margin-right: 1px;
  }
}

@media (max-width: 991px) {

  .navScroll{
    position: fixed;
    height: 12%;
    backdrop-filter: blur(50px);
    transition: backdrop-filter 0.2s ease-in-out 0.2s;
    box-shadow: 0 -2px 5px variables.$Primary-Black;
    z-index: 1;
  }

  .overlay {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Adjust color and opacity as needed
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: -1; // Put it below all other content by default
  }
  
  .overlay-visible {
    visibility: visible;
    margin: 0;
    opacity: 1;
    z-index: 0; // Put the overlay above all content but below the navbar
  }

  .nav-column{
    width: 100%;
    margin: 0;
  }
  
  .hamburger{
    margin: 35px;
    z-index: 2;
  }

  .hero-image {
    width: 100%;
    background-position: center;
    max-width: 100%;
    padding: 0;
  }

  .main-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .main-content,
  .column,
  .column-2,
  .column-3,
  .column-5,
  .column-6,
  .column-7 {
    width: 100%;
  }

  .img,
  .icon-angle-left,
  .icon-angle-right {
    margin: 0px;
  }

  .text-content {
    overflow: hidden;
    margin: 0;
    padding: 60px 40px 0px;
    width: auto;
    height: auto;
  }

  .shop-content {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .p-shop-content {
    padding: 0;
    margin-top: 10px;
  }

  .navbar {
    justify-content: center;
    white-space: initial;
    align-items: baseline;
    margin: 0;
  }

  .navbar-list {
    position: absolute;
    display: flex; // Added for justify-content and align-items to work properly
    justify-content: center;
    align-items: center;
    background-color: variables.$Primary-White;
    color: variables.$Primary-Black;
    z-index: 1;
    width: 100%;
    height: 120px;
    box-shadow: 0 -2px 10px variables.$Primary-Black;
    transform: translateY(0px);
    top: -120px;
    margin: 0;
    transition: transform .3s ease-in-out ;

    &.Animated {
      transform: translateY(120px); // Assuming you want it to slide out, change value accordingly
    }
  }

  .logo-img{
    margin-top: 60px;
    position: absolute;
  }

  .main-header,
  .shop-content,
  .about-title,
  .about-content,
  .image-about-light,
  .botton-section {
    max-width: 100%;
  }

  .botton-section,
  .main-header {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    height: auto;
  }

  .header-columns {
    max-width: 100%;
    padding: 0 20px;
  }

  .about-content {
    padding: 40px;
  }

  .shop-title {
    max-width: 100%;
    font-size: 40px;
  }

  .shop-button {
    width: 100%;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .button-select {
    width: auto;
    position: absolute;
    margin-top: -80px;
    align-items: center;
    align-self: flex-end;
    z-index: 0;
  }

}
