@use './scss/reset';
@use './scss/variables';

@mixin align-columns {
  display: flex;
  flex-direction: column;
  line-height: normal;
}


.header-columns {
  overflow: hidden;
  flex-grow: 1;
  background-image: url(../assets/[FREE\ -\ HDconvert.com]\ desktop-image-hero-1.png);
  image-resolution: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 72px;
}

.main-container {
  gap: 20px;
  display: flex;
}

.column {
@include align-columns;
  width: 362px;
  margin-left: 0px;
}

.logo-img {
  width: 62px;
  height: 13px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  color: variables.$Primary-White;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.67px;
  margin: 17px auto 0 -4px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-item {
  font-family: variables.$Font-Family;
}

.navbar-link {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: variables.$Primary-White;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
}

.div {
  display: flex;
}

.img {
  aspect-ratio: 2.51;
  object-fit: auto;
  object-position: center;
  width: 62px;
  margin-top: 14px;
}

.column-3 {
@include align-columns;
  width: 83%;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: variables.$Primary-White;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.67px;
  margin: 0;
}

.div-2,
.div-3,
.div-4,
.div-5 {
  font-family: variables.$Font-Family;
  margin: auto 0;
}

.main-content {
@include align-columns;
  width: 42%;
}

.shop-content {
  background-color: variables.$Primary-White;
  display: flex;
  flex-grow: 1;
  padding-top: 50px;
  flex-direction: column;
  color: variables.$Primary-Black;
  font-weight: 500;
  width: 100%;
}

.text-content {
  align-self: center;
  display: flex;
  margin-top: 72px;
  width: 400px;
  max-width: 100%;
  flex-direction: column;
  padding: 0 20px;
}

.shop-title {
  letter-spacing: -2px;
  line-height: normal;
  color: variables.$Primary-Black;
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  font-family: variables.$Font-Family;
}

.shop-content {
  color: variables.$Primary-Dark-Gray;
  letter-spacing: -0.33px;
  font-size: 16px;
  font-family: variables.$Font-Family;
  margin: 0;
}

.shop-button {
  align-self: start;
  display: flex;
  padding-right: 9px;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
  letter-spacing: 12.5px;
  line-height: 107%;
  margin: 32px 0 0 0px;
}

.div-8 {
  font-family: variables.$Font-Family;
  flex-grow: 1;
  flex-basis: auto;
}

.button-arrow-img {
  aspect-ratio: 3.33;
  object-fit: auto;
  object-position: center;
  width: 40px;
}

.button-select {
  display: flex;
  margin-top: 75px;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  align-self: flex-start;
  background-color: variables.$Primary-Black;
  padding: 30px 0px;
  width: 25%;
}

.icon-angle-left,
.icon-angle-right {
  object-fit: auto;
  object-position: center;
  max-width: 100%;
  cursor: pointer;
}

.botton-section {
  width: 100%;
}

.column-5 {
@include align-columns;
  width: 30%;
  margin-left: 0px;
}

.image-about-dark {
  aspect-ratio: 1.59;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
  align-self: stretch;
}

.column-6 {
@include align-columns;
  width: 40%;
}

.about-content {
  background-color: variables.$Primary-White;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
  padding: 50px 48px;
}

.about-title {
  color: variables.$Primary-Black;
  text-align: justify;
  font-family: variables.$Font-Family;
  font-weight: 700;
  line-height: 137.5%;
  letter-spacing: 6.67px;
  margin-top: 14px;
}

.p-content {
  color: variables.$Primary-Dark-Gray;
  font-family: variables.$Font-Family;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.33px;
  margin-top: 27px;
}

.column-7 {
@include align-columns;
  width: 32%;
}

.image-about-light {
  aspect-ratio: 1.67;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 640px) {
  .header-columns {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    padding-bottom: 129px;
  }

  .contact-link {
    margin-right: 1px;
  }

  .img {
    margin: -2px auto 0;
  }

  .div-5 {
    margin-right: 1px;
  }
}


@media (max-width: 991px) {
  .header-columns {
    max-width: 100%;
    padding: 0 20px;
  }

  .main-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
  
  .main-content,
  .column,
  .column-2,
  .column-3,
  .column-5,
  .column-6,
  .column-7 {
    width: 100%;
  }

  .img,
  .text-content,
  .icon-angle-left,
  .icon-angle-right{
    margin-top: 40px;
  }

  .navbar {
    margin-top: 40px;
    white-space: initial;
  }

  .main-header,
  .shop-content,
  .about-title,
  .about-content,
  .image-about-light,
  .botton-section{
    max-width: 100%;
  }

  .div {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .header-columns,
  .about-content {
    max-width: 100%;
    padding: 0 20px;
  }

  .navbar {
    margin-top: 40px;
    white-space: initial;
  }

  .shop-title {
    max-width: 100%;
    font-size: 40px;
  }

  .shop-button {
    margin-left: 10px;
  }


  
}