//Primary

$Primary-Dark-Gray: hsl(0, 0%, 63%);
$Primary-Black: hsl(0, 0%, 0%);
$Primary-White: hsl(0, 0%, 100%);
$Peimary-Very-Dark-Gray: hsl(0, 0%, 27%);


$Body-Font-size: 12px;

//### Font

$Font-Family: League Spartan, sans-serif;
$Fton-Weights: 500, 600, 700;

$animate-duration: 800ms;
$animate-delay: 0.9s;